body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita rolagem horizontal */
}

h1, h2, h3, h4 {
  color: #333;
}

button {
  font-family: 'Roboto', sans-serif;
  padding: 10px 15px;
  background-color: #007BFF; /* Azul escuro para melhor contraste */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Barra de ferramentas e menu */
.menu-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Garante que a barra fique sempre visível */
}

.menu-title {
  font-size: 1.2em;
}

.logout-button {
  background-color: #FF4136;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 20px; /* Adiciona margem à direita para evitar o corte */
}

.logout-button:hover {
  background-color: #e63946;
}

/* Ajustando o fundo claro para o painel de estatísticas */
.App-header {
  background-color: #f0f0f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333;
  padding-top: 60px; /* Adiciona espaço para evitar a sobreposição com o menu fixo */
}

/* Adicionando fundo claro para os containers */
.chart-container, .url-list-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Tornando o conteúdo rolável */
.App {
  overflow-y: auto;
  height: 100vh;
  padding-top: 60px; /* Adiciona um padding ao topo para o conteúdo não ser ocultado pela barra */
}
